* {
  box-sizing: border-box;
}

p {
  color: whitesmoke;
}

#header {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 5rem;
  background-color: firebrick;
}

#wrapper {
  display: flex;
  padding-top: 5rem;
}

#img-area {
  padding: .5rem;
  background-color: #333;
  flex-basis: 75%;
}

#sidebar {
  background-color: limegreen;
  flex-basis: 25%;
}

#img-area ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-container img {
  width: 200px;
  height: 200px;
  border: 2px solid transparent;
}

.img-container {
  position: relative;
  margin: .5rem;
  cursor: pointer;
}

.img-selected {
  border-color: dodgerblue !important;
}